services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      # args:
      #   # This uses the variable from your .env.production file
      #   - DATABASE_URL=${DATABASE_URL}
      #   - PAYLOAD_SECRET=${PAYLOAD_SECRET}
    image: payload-v4
    container_name: payload-app
    restart: unless-stopped
    ports:
      - '3000:3000'
    depends_on:
      - postgres
    env_file:
      - .env.production
    environment:
      NODE_ENV: production
      PORT: 3000
    healthcheck:
      test: ['CMD', 'wget', '-qO-', 'http://localhost:3000']
      interval: 30s
      timeout: 10s
      retries: 5

  postgres:
    image: postgres:18
    container_name: payload-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: royal
      POSTGRES_PASSWORD: passw0rd
      POSTGRES_DB: v4
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - '5432:5432'

volumes:
  pgdata:
